/* Custom Styles */
body {
    font-family: 'Arial', sans-serif;
}

header {
    position: relative;
}

#cover-slider {
    border-top: 80px;
    height: 600px;
    overflow: hidden;
}

#cover-slider img {
    object-fit: cover;
    height: 100%;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 80px;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.skills div {
    background-color: #ddd;
    color: #333;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.skills div:hover {
    background-color: #1e90ff;
    color: #fff;
}

.skills div.active {
    background-color: #1e90ff;
    color: #fff;
}

.btn {
    background-color: #1e90ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
}

.btn:hover {
    background-color: #fff;
    color: #1e90ff;
    border: 1px solid #1e90ff;
}



section {
    padding: 60px 0;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

footer {
    background-color: #343a40;
    color: white;
}